{% extends 'base.html.twig' %}

{% block title %}New DownloadedNews{% endblock %}

{% block body %}
    <h1>Create new DownloadedNews</h1>

    {{ include('downloaded_news/_form.html.twig') }}

    <a href="{{ path('app_downloaded_news_index') }}">back to list</a>
{% endblock %}
